.categories-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
}

.category-item {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.category-item:hover img {
  transform: scale(1.05);
}

.category-title {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #7fd13b;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
  text-transform: uppercase;
}

.category-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

@media (max-width: 992px) {
  .categories-container {
    flex-direction: column;
    height: auto;
  }

  .category-item {
    height: 33vh;
  }
}
